.main {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;

  @media (max-width:1200px) {
    margin: 20px 10px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
}

.upload {
  div,
  button {
    width: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 15px;
}

.menu {
  margin-top: 20px;
  padding-right: 10px;
  height: 100%;

  @media (max-width: 999px) {
    border-inline-end: none;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    display: flex;
  }
}

.dashboardContainer {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  width: 100%;

  @media (max-width:999px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width:470px) {
    align-items: center;
  }
}
